<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registros</title>
</head>
<body>
  <h1>Estudiantes registrados</h1>
  {% csrf_token %}
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="buscar" placeholder="Buscar por nombre...">
    <button type="submit">Buscar</button>
</form>
  <table border="1" cellpadding="6">

  <!-- Mensaje y alerta de confirmación cuando se edita un estudiante -->
  {% if messages %}
    <ul>
      {% for m in messages %}
        <li style="color: green; font-weight: bold;">{{ m }}</li>
        <script>
          alert("{{ m }}");
        </script>
      {% endfor %}
    </ul>
  {% endif %}



  <!-- <table border="1" cellpadding="6">
  <tr>
    <th>Nombre</th><th>Correo</th><th>Edad</th><th>Carrera</th><th>Fecha</th><th>Acciones</th>
  </tr>
  {% for e in estudiantes %}
  <tr>
    <td>{{ e.nombre }} {{ e.apellido }}</td>
    <td>{{ e.correo }}</td>
    <td>{{ e.edad }}</td>
    <td>{{ e.get_carrera_display }}</td>
    <td>{{ e.fecha_registro|date:"d/m/Y H:i" }}</td>
    <td>
      <form method="post" action="{% url 'eliminar' e.id %}"
            onsubmit="return confirm('¿Seguro que deseas eliminar este registro?');">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
      </form>
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="6">Aún no hay registros.</td></tr>
  {% endfor %}
</table> -->
<Table border="1" cellpadding="6">
    <tr>
      <th>Cédula</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Edad</th>
      <th>Carrera</th>
      <th>Fecha</th>
      <th>Acciones</th>
    </tr>
    {% for e in estudiantes %}
    <tr>
      <td>{{ e.cedula}}</td>
      <td>{{ e.nombre }} {{ e.apellido }}</td>
      <td>{{ e.correo }}</td>
      <td>{{ e.edad }}</td>
      <td>{{ e.get_carrera_display }}</td>
      <td>{{ e.fecha_registro|date:"d/m/Y H:i" }}</td>

      <td>
        <form method="post" action="{% url 'eliminar' e.id %}"
            onsubmit="return confirm('¿Seguro que deseas eliminar este registro?');">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
      </form>
        <a href="{% url 'editar' e.id %}">
          <button type="button">Editar</button>
        </a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="5">Aún no hay registros.</td></tr>
    {% endfor %}
  </table>

  <p><a href="{% url 'registrar' %}">Volver al formulario</a></p>
</body>
</html>
